
.markdown-content {
  max-width: calc(min(50em, 100%));
}

.markdown-content ol p,
.markdown-content ul p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.markdown-content code {
  background-color: var(--light-bg-contrast);
  border: 1px solid var(--strong-bg-contrast);
  border-radius: 4px;
  padding: 2px;
  font-family: monospace;
  font-size: 14px;
}

.markdown-content pre code {
  border: unset;
  background-color: unset;
}

/* Select the pre elements that have a code child */
.markdown-content pre:has(> code) {
  overflow-x: scroll;
}

.markdown-content pre {
  padding: 5px;
  background-color: var(--light-bg-contrast);
  border-radius: 5px;
  border: 1px solid var(--strong-bg-contrast);
}

.markdown-content thead tr {
  border-bottom: 1px solid rgb(176, 176, 176);
}

.markdown-content table th,
.markdown-content table td {
  padding-left: 5px;
  padding-right: 5px;
}

.markdown-content table tr {
  background-color: none;
}

/* Apply background color to even rows */
.markdown-content table tr:nth-child(even) {
  background-color: var(--light-bg-contrast);
}

.markdown-content table td {
  vertical-align: top;
}

.markdown-content table {
  border-collapse: collapse;
}
